<div th:fragment="pagination(pageUrl, currentPage, hasPreviousPage, hasNextPage, totalPages, size)">
  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" th:class="${currentPage == 0 ? 'disabled' : ''}">
        <a class="page-link" th:href="@{${pageUrl}(page=0, size=${size})}" th:text="First"></a>
      </li>
      <li class="page-item" th:class="${!hasPreviousPage ? 'disabled' : ''}">
        <a class="page-link" th:href="@{${pageUrl}(page=${currentPage - 1}, size=${size})}" th:text="Previous"></a>
      </li>
      <li class="page-item" th:class="${!hasNextPage ? 'disabled' : ''}">
        <a class="page-link" th:href="@{${pageUrl}(page=${currentPage + 1}, size=${size})}" th:text="Next"></a>
      </li>
      <li class="page-item" th:class="${currentPage == totalPages - 1 ? 'disabled' : ''}">
        <a class="page-link" th:href="@{${pageUrl}(page=${totalPages - 1}, size=${size})}" th:text="Last"></a>
      </li>
    </ul>
  </nav>
</div>
