<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Address List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
        h1 {
            margin-bottom: 30px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        .pagination {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center">Addresses</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Street Name</th>
            <th>Street Number</th>
            <th>Municipality</th>
            <th>City</th>
            <th>Zip Code</th>
            <th>Country</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over the addresses and populate the table rows -->
        <tr th:each="address : ${addresses}">
            <td th:text="${address.getStreetName()}"></td>
            <td th:text="${address.getStreetNumber()}"></td>
            <td th:text="${address.getMunicipality()}"></td>
            <td th:text="${address.getCity()}"></td>
            <td th:text="${address.getZipcode()}"></td>
            <td th:text="${address.getCountry()}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item" th:class="${currentPage == 0 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/address(page=0, size=${size})}" th:text="First"></a>
            </li>
            <li class="page-item" th:class="${!hasPreviousPage ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/address(page=${currentPage - 1}, size=${size})}" th:text="Previous"></a>
            </li>
            <li class="page-item" th:class="${!hasNextPage ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/address(page=${currentPage + 1}, size=${size})}" th:text="Next"></a>
            </li>
            <li class="page-item" th:class="${currentPage == totalPages - 1 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/address(page=${totalPages - 1}, size=${size})}" th:text="Last"></a>
            </li>
        </ul>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
