<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Students List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
        h1 {
            margin-bottom: 30px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<!--- Title and Menu --->
<div th:replace="~{fragments/_menu_bar :: menu_bar}"></div>

<div class="container">
    <h1 class="text-center">Students</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <!--- TODO: Fill with fiels for student --->
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over the students and populate the table rows -->
        <tr th:each="student : ${students}">
            <!--- TODO: Fill with fiels for student --->
            <td>
                <a th:href="@{students/edit/{id}(id=${student.getPerson_id()})}" class="btn btn-primary">Edit</a>
                <a th:href="@{students/delete/{id}(id=${student.getPerson_id()})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Include the pagination fragment and pass the pageUrl parameter -->
<div th:insert="~{fragments/_pagination :: pagination(${pageUrl}, ${currentPage}, ${hasPreviousPage}, ${hasNextPage}, ${totalPages}, ${size})}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
